.about {
  max-width: 1240px;
    .bannerImgDefault {
    @include bannerImg(220px, '../img/paysage.webp');
}

    margin: auto;
    position: relative;

    h1 {
    position: relative;
    z-index: 2;
    }

    .collapse {
        background: $red;
        color: $white;
        font-size: 12px;
        border-radius: 10px;
        padding: 0 20px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 47px;

    .fa-solid {
        font-size: 3em;
        cursor: pointer;
        }
    }
}

//1024px
@media(min-width: $laptop) {

    .about .boxAbout .list-cards .card .collapse h1,
    .about .boxAbout .list-cards .card .collapse i {
        font-size: 20px;
    }

    .about .boxAbout .list-cards .card p {
        font-size: 20px;
    }

    .about .boxAbout .list-cards {
        width: 800px;
        margin-top: 20px;
    }
}



//768px
@media(min-width: $tablet) {
 
  
    .about{
        max-width: 768px;
    }
    .about .boxAbout .list-cards .card .collapse h1,
    .about .boxAbout .list-cards .card .collapse i {
        font-size: 20px;
    }

    .about .boxAbout .list-cards .card p {
        font-size: 20px;
    }

   
}



//320px
@media(max-width: $small) {

   .about{
    padding: 20px;
    .bannerImgDefault{
        margin-top: 0;
        width: 100%;
    }

        .boxAbout .list-cards {
            width: 100%;
            h1 {
                    font-size: 13px;
                }
            p {
                    font-size: 12px;
                }
                i{
                    font-size: 16px;
                }
        }

   }


}
//375px MIN
@media(min-width: $medium) {

    .about {
        padding: 10px;
        .bannerImgDefault {
            margin-top: 0;
            width: 100%;
        }

        .boxAbout .list-cards {
            width: 100%;
            h1{
                font-size:13px ;
            }
            p {
                    font-size: 12px;
                }
            i {
                font-size: 18px;
            }

        }

    }


}

//375px MAX
@media(max-width: $medium) {

    .about {
        padding: 20px;

        .bannerImgDefault {
            margin-top: 0;
            width: 100%;
        }
                .collapse{
                    padding: 0 10px;
                        height: 30px;
                        border-radius: 6px;
                }

        .boxAbout .list-cards {
            width: 100%;

            h1 {
                font-size: 13px;
            }

            p {
                font-size: 12px;
            }

            i {
                font-size: 18px;
            }

        }

    }


}

//1440px
@media(min-width: $laptopL) {
    .about {
        max-width: 1240px;
    }

    .about .boxAbout .list-cards .card .collapse h1,
    .about .boxAbout .list-cards .card .collapse i {
        font-size: 24px;
    }

    .about .boxAbout .list-cards .card p {
        font-size: 24px;
    }

    .about .boxAbout .list-cards {
        width: 1024px;
        margin-top: 20px;
    }
}